@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

html {
	font-size: 32px;
	font-family: "Kode Mono", monospace;
	background-color: #444e6e;
}

#root {
	margin: auto;
}
