.settings-dialog {
	font-size: 0.75rem;
	border-radius: 0.5rem;
}

.settings-dialog::backdrop {
	background-color: black;
	opacity: 75%;
}

.settings-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	padding: 0.1rem 0.5rem;
	align-items: center;
}

.settings-row input {
	font-family: "Kode Mono", monospace;
	text-align: center;
	font-size: 0.75rem;
	border-radius: 0.5rem;
}

.settings-row button {
	font-family: "Kode Mono", monospace;
	font-size: 0.75rem;
	padding: 0.1rem 1rem;
	border-radius: 0.25rem;
}
